@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif, "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
}

.nav-bar {
  background: #be3144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  z-index: 999;
}

.nav-bar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem;
  padding: 0;
}

.nav-bar .links li {
  list-style: none;
  padding: 1rem;
}

.nav-bar .links li:hover {
  background: #333333;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav-bar .links a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  padding: 1rem;
  letter-spacing: 2px;
  word-wrap: break-word;
  word-break: keep-all;
}

.welcome-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 80vh;
  background-color: #333333;
}

.welcome-section h1 {
  margin-top: 0;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem;
  border-bottom: solid medium white;
}

.welcome-section p {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: #be3144;
}

.projects {
  background: rgba(158, 151, 221, 0.815);
}

.projects h1 {
  padding-top: 2rem;
  margin-top: 0;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

.projects p {
  text-align: center;
  font-style: italic;
}

.projects-section1,
.projects-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-section1 .form-project,
.projects-section1 .calculator-project,
.projects-section1 .quotation-project,
.projects-section1 .trombones-project,
.projects-section1 .documentation-project,
.projects-section1 .menu-project,
.projects-section2 .form-project,
.projects-section2 .calculator-project,
.projects-section2 .quotation-project,
.projects-section2 .trombones-project,
.projects-section2 .documentation-project,
.projects-section2 .menu-project {
  background: #333333;
}

.projects-section1 .form-project a,
.projects-section1 .calculator-project a,
.projects-section1 .quotation-project a,
.projects-section1 .trombones-project a,
.projects-section1 .documentation-project a,
.projects-section1 .menu-project a,
.projects-section2 .form-project a,
.projects-section2 .calculator-project a,
.projects-section2 .quotation-project a,
.projects-section2 .trombones-project a,
.projects-section2 .documentation-project a,
.projects-section2 .menu-project a {
  text-decoration: none;
  color: inherit;
}

.projects-section1 .form-project a img,
.projects-section1 .calculator-project a img,
.projects-section1 .quotation-project a img,
.projects-section1 .trombones-project a img,
.projects-section1 .documentation-project a img,
.projects-section1 .menu-project a img,
.projects-section2 .form-project a img,
.projects-section2 .calculator-project a img,
.projects-section2 .quotation-project a img,
.projects-section2 .trombones-project a img,
.projects-section2 .documentation-project a img,
.projects-section2 .menu-project a img {
  opacity: .8;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.projects-section1 .form-project a img:hover,
.projects-section1 .calculator-project a img:hover,
.projects-section1 .quotation-project a img:hover,
.projects-section1 .trombones-project a img:hover,
.projects-section1 .documentation-project a img:hover,
.projects-section1 .menu-project a img:hover,
.projects-section2 .form-project a img:hover,
.projects-section2 .calculator-project a img:hover,
.projects-section2 .quotation-project a img:hover,
.projects-section2 .trombones-project a img:hover,
.projects-section2 .documentation-project a img:hover,
.projects-section2 .menu-project a img:hover {
  opacity: 1;
}

.projects-section1 .form-project a:hover,
.projects-section1 .calculator-project a:hover,
.projects-section1 .quotation-project a:hover,
.projects-section1 .trombones-project a:hover,
.projects-section1 .documentation-project a:hover,
.projects-section1 .menu-project a:hover,
.projects-section2 .form-project a:hover,
.projects-section2 .calculator-project a:hover,
.projects-section2 .quotation-project a:hover,
.projects-section2 .trombones-project a:hover,
.projects-section2 .documentation-project a:hover,
.projects-section2 .menu-project a:hover {
  color: lightgrey;
  text-decoration: underline;
}

.projects-section1 .form-project p,
.projects-section1 .calculator-project p,
.projects-section1 .quotation-project p,
.projects-section1 .trombones-project p,
.projects-section1 .documentation-project p,
.projects-section1 .menu-project p,
.projects-section2 .form-project p,
.projects-section2 .calculator-project p,
.projects-section2 .quotation-project p,
.projects-section2 .trombones-project p,
.projects-section2 .documentation-project p,
.projects-section2 .menu-project p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.contact-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: 1fr 1fr 55%;
      grid-template-rows: 1fr 1fr 55%;
  min-height: 60vh;
  background: #333333;
}

.contact-section h1 {
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  padding-bottom: 1rem;
  border-bottom: solid medium white;
  margin-bottom: .5rem;
}

.contact-section p {
  margin-top: 0;
  -ms-grid-row: 2;
  grid-row: 2;
  color: #be3144;
  font-size: 1.2rem;
}

.contact-section .social-media {
  -ms-grid-row: 3;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  padding: 0;
}

.contact-section .social-media li {
  list-style: none;
  margin: 1rem;
}

.contact-section .social-media a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact-section .social-media a:hover {
  color: lightgrey;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #be3144;
  height: 10vh;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 3rem;
}

.footer .footer-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: inherit;
}

.footer .footer-links a:hover {
  color: #c7c7c7;
}

.footer p {
  margin: 0;
  padding: 1rem;
}

@media only screen and (max-width: 1260px) {
  .projects-section1,
  .projects-section2 {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .projects-section1,
  .projects-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .projects-section1 .form-project,
  .projects-section1 .calculator-project,
  .projects-section1 .quotation-project,
  .projects-section1 .trombones-project,
  .projects-section1 .documentation-project,
  .projects-section1 .menu-project,
  .projects-section2 .form-project,
  .projects-section2 .calculator-project,
  .projects-section2 .quotation-project,
  .projects-section2 .trombones-project,
  .projects-section2 .documentation-project,
  .projects-section2 .menu-project {
    margin: 1rem;
  }
}

@media only screen and (max-width: 875px) {
  .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-container .form-project,
  .projects-container .calculator-project,
  .projects-container .quotation-project,
  .projects-container .trombones-project,
  .projects-container .documentation-project,
  .projects-container .menu-project {
    width: 65%;
    margin: 1rem auto;
  }
  .projects-container img {
    width: 100%;
  }
  .social-media li {
    margin: .5;
  }
  .social-media li:last-child {
    grid-column: span 2;
  }
  .social-media a {
    font-size: 1.1rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

@media only screen and (max-width: 730px) {
  .welcome-section h1 {
    font-size: 2.5rem;
  }
  .projects-container .form-project,
  .projects-container .calculator-project,
  .projects-container .quotation-project,
  .projects-container .trombones-project,
  .projects-container .documentation-project,
  .projects-container .menu-project {
    margin: 1rem auto;
    width: 80%;
  }
  .projects-container .form-project .img-project,
  .projects-container .calculator-project .img-project,
  .projects-container .quotation-project .img-project,
  .projects-container .trombones-project .img-project,
  .projects-container .documentation-project .img-project,
  .projects-container .menu-project .img-project {
    width: 100%;
  }
  .contact-section .social-media {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
  }
  ul li:last-child {
    color: blue;
  }
}

@media only screen and (max-width: 545px) {
  .nav-bar .links {
    margin: 0 1rem;
  }
  .nav-bar .links li {
    margin: 0;
    padding: .5rem 0;
  }
  .welcome-section h1 {
    border: none;
  }
  .content h1 {
    text-align: center;
  }
  .contact-section h1 {
    text-align: center;
  }
  .footer .footer-links {
    padding: .5rem;
  }
  .footer p {
    text-align: center;
    padding: .5rem;
  }
}
/*# sourceMappingURL=style.css.map */